body{
    background-image: url("img/hogwarts.jpg");
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    overflow: hidden;
    position: sticky;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    font-size: large;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
    padding: 1em;
}
nav ul li a:hover{
    color: blue;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 100%;
}
h1{
    color: aliceblue;
    font-size: 5em;
    padding-left: 2%;
}
p{
    margin-top: -3em;
    color: aliceblue;
    font-size: 1em;
    padding-left: 2%;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline:none;
    margin-top: 1em;
}
.sub{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.sub1{
    background-image: url(img/ir1.jpg);
}
.sub2{
    background-image: url(img/ir2.jpg);
}
.sub3{
    background-image: url(img/ir3.jpg);
}
.sub4{
    background-position: left;
    background-image: url(img/ir4.jpg);
}
.sub:hover{
    transform: translateY(-10px);
}
.main .sub a{
    color: aliceblue;
}