body{
    background-image: url("img/sly.png");
    background-size: cover;
    background-position: center;
}
nav{
    width: 100%;
    overflow: hidden;
    position: sticky;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
    font-size: large;
}
nav ul li a{
    color: aqua;
    text-decoration: none;
    padding: 1em;
}
nav ul li a:hover{
    color: blue;
}
.main{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.sub{
    transition: transform 0.5s;
}
.sub1{
    background-image: url("img/sortinghat.jpg");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub2{
    background-image: url("img/nimbus.jpg");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub3{
    background-image: url("img/golden.jpg");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub4{
    background-image: url("img/timeturner.jpg");
    background-size: cover;
    background-position: left;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub5{
    background-image: url("img/goblet.jpg");
    background-size: cover;
    background-position: left;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub6{
    background-image: url("img/potronous.jpg");
    background-size: cover;
    background-position: left;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub7{
    background-image: url("img/penseive.png");
    background-size: cover;
    background-position: left;
    height: 10em;
    width: 10em;
    margin: 2em;
    border: 4mm ridge rgba(2, 2, 2, 0.6);
    border-radius: 2em;
    text-align: center;
    line-height: 10em; 
}
.sub:hover{
    transform: translateY(-10px);
}