body{
    width: 100vw;
    height:100vh;
    margin: 0;
    padding: 0;
    background: #222;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: large;
}
.section1, .section2{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.section1{
    height: 100vh;
    width: 100%;
    background-image: url(img/ai.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section2{
    margin-top: -20px;
    padding-bottom: 20px;
    height: auto;
    width: 100%;
    background-color:darkslategrey;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.text{
    
    top: 20%;
    left: 50%;
    position: absolute;
    color:aliceblue;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255, 2555, 2555, 0.5);
    transform: scale(1, 1.1) translate(-50%, 10%);
}
h1{
    font-size: 5rem;
}
.section3{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #222;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #222;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -50em;
}
#radio3:checked ~ .first{
    margin-left: -100em;
}
#radio4:checked ~ .first{
    margin-left: -150em;
}
.navigation-auto{
    position:absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #222;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #222;
}
#radio1:checked ~ .navigation-auto .auto-btn2{
    background: #222;
}
#radio1:checked ~ .navigation-auto .auto-btn3{
    background: #222;
}
#radio1:checked ~ .navigation-auto .auto-btn4{
    background: #222;
}